html, body{
  height: 100%;
  min-height: 100%;
  margin: 0;
}

$temp-colors: (
        'main': #21b8c6,
        'main-hover': #239aa8,
        'error': #e64c65,
        'input': #d7dde2,
        'input-active': #959fa9,
        'text': #475965,
        'bacground': #f0f3f6,
        'popUp': #95989b,
        'white': #fff,
        'spray': #81CFE0,
        'swuff': #DCC6E0,
        'radical': #F62459,
        'cinnabar': #E74C3C,
        'emerald': #3FC380,
        'saffron': #F4D03F,
        'california': #F89406,
        'turquoise': #4ECDC4,
        'emptiness': rgba(255, 255, 255, 0),
        'madang': #C8F7C5
);

@function temp-colors($key: 'main') {
  @return map-get($temp-colors, $key);
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/OpenSans-Bold.ttf');
}

$font-main: 'OpenSans', sans-serif;
$font-bold: 'OpenSans-Bold', sans-serif;

@mixin transform($rotate: 30deg){
  -webkit-transform: rotate($rotate);
  -moz-transform: rotate($rotate);
  -ms-transform: rotate($rotate);
  -o-transform: rotate($rotate);
  transform: rotate($rotate);
}

@mixin H-text($size: 18px){
  font-family: $font-bold;
  font-size: $size;
  color: temp-colors('text');
  margin: 5px 0 10px 0;
  line-height: 1;
  text-transform: uppercase;
//  letter-spacing: 5px;
}
@mixin text(){
  font-family: $font-main;
  color: temp-colors('text');
  font-size: 14px;
}
@mixin buttonText(){
  font-family: $font-bold;
  color: temp-colors('white');
  font-size: 16px;

}
@mixin radius($leftTop, $rightTop: $leftTop, $rightBot: $leftTop, $leftBot:$leftTop){
  border-bottom-left-radius: $leftBot;
  border-bottom-right-radius: $rightBot;
  border-top-left-radius: $leftTop;
  border-top-right-radius: $rightTop;
  -moz-border-radius-bottomleft: $leftBot;
  -moz-border-radius-bottomright: $rightBot;
  -moz-border-radius-topleft: $leftTop;
  -moz-border-radius-topright: $rightTop;
  -webkit-border-top-left-radius: $leftTop;
  -webkit-border-bottom-left-radius: $leftBot;
  -webkit-border-bottom-right-radius: $rightBot;
  -webkit-border-top-right-radius: $rightTop;
}
@mixin transition($property-name: 'all', $duration: 0.3s, $delay: 0.1s, $function: 'initial'){
  -webkit-transition-property: $property-name;
  -moz-transition-property: $property-name;
  -o-transition-property: $property-name;
  transition-property: $property-name;
  -webkit-transition-duration: $duration;
  -moz-transition-duration: $duration;
  -o-transition-duration: $duration;
  transition-duration: $duration;
  -webkit-transition-delay: $delay;
  -moz-transition-delay: $delay;
  -ms-transition-delay: $delay;
  -o-transition-delay: $delay;
  transition-delay: $delay;
  -webkit-transition-timing-function: $function;
  -moz-transition-timing-function: $function;
  -ms-transition-timing-function: $function;
  -o-transition-timing-function: $function;
  transition-timing-function: $function;
}

.container{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: auto;

  &.openPopUp{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px);
  }
}

input, button{
  &:focus{
    outline: 0;
  }
}

#notes{
  display: block;
  background: temp-colors('bacground');
  margin-left: 70px;
  height: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 20px;
  box-sizing: border-box;
  @media(min-width: 700px){
    overflow: hidden;
  }
  @media(max-width: 700px){
    overflow: auto;
    height: 100% !important;
  }
  @media(max-width: 450px){
    margin-left: 50px;
  }
}

input[type='text']{
  @include text();
  width: 100%;
  display: block;
  padding: 5px 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid temp-colors('input');
  &:focus, &:active{
    border: 1px solid temp-colors('input-active');
  }
  &.error{
    border-color:temp-colors('error');
    background: {
      image: url("../images/warning.png");
      position: 0 50%;
      repeat: no-repeat;
      size: 16px;
    }
  }
}

.listBlock{
  position: absolute;
  display: inline-block;
  padding: 10px 15px;
  background: temp-colors('white');
  float: left;
  overflow: hidden;
  top:10px; left:10px;

  @media(min-width: 1106px){
    width: 300px;
    margin: 15px 10px;
  }
  @media(max-width: 1106px){
    margin: 10px 5px;
    width: 28.5%;
  }
  @media(max-width: 980px){
    width: 44%;
  }
  @media(max-width: 860px){
    width: 40%;
  }

  @media(max-width: 700px){
    width: 89%;
    position: relative;
    display: block;
    top: 0 !important; left: 10px !important;
  }

  @media(max-width: 491px){
    width: 85%;
  }
  @media(max-width: 450px){
    width: 86%;
  }

  h2{
    @include H-text(16px);
  }
  h2 > .deleteBtn, a{
    margin-left: 10px;
  }
  .createTodo{
    overflow: auto;
    input{
      display:block;
      float: left;
      @media(min-width: 1106px){
        width: 250px;
      }
      @media(max-width: 1106px){
        width: 82%;
      }
    }
    button{
      display: inline-block;
      width: 34px;
      height: 34px;
      background: {
        image: url('../images/add-green.png');
        color: temp-colors('white');
        position: center;
        repeat: no-repeat;
      };
      border: none;
      border-radius: 50%;
      margin-left: 10px;
      @include transition();

      &:hover{
        background: {
          image: url('../images/add-button.png');
          color: temp-colors('main');
        }
        cursor: pointer;
      }
    }
  }
}
@mixin sizeBtn(){
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: {
    position: center;
    repeat: no-repeat;
    size: 80%;
  }
  @include transition();
}
.todoItem{
  span{
    @include text();
    padding-right: 10px;
    &.checked{
      text-decoration: line-through;
    }
  }
}
.deleteBtn{
  @include sizeBtn();
  background:{
    image: url('../images/garbage_1.png')
  }
  &:hover{
    cursor: pointer;
    background: {
      image: url('../images/garbage_3.png');
      size: 90%;
    }
    border-radius: 50%;
    box-shadow: 0 0 15px 2px temp-colors('input');
  }
}
.updateBtn{
  @include sizeBtn();
  background: {
    image: url('../images/writing_1.png');
  }
  &:hover{
    cursor: pointer;
    background: {
      image: url('../images/writing_3.png');
    };
  }
}
.checkBoxBlock{
  width: 20px;
  margin: 5px 10px 5px 0;
  position: relative;
  display: inline-block;

  label{
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    @include radius(1px, 1px, 1px, 1px);
    border: 1px solid temp-colors('input');


    &:after{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 3px;
      left: 3px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover{
      cursor: pointer;
      border-color: temp-colors('input-active');
      &::after{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.5;
      }
    }
  }

  input[type=checkbox]{
    visibility: hidden;
    &:checked + label:after {
      border-color: temp-colors('main');
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }
    &:checked + label{
      border-color: temp-colors('main');
    }
  }
}
@mixin imgRadio($name){
  background:{
    image: url($name);
    repeat: no-repeat;
    position: center;
  }

}
.radioBoxBlock{
  width: 50px;
  margin: 5px 5px 5px 0;
  position: relative;
  display: inline-block;
  @media (max-width: 600px) {
    height: 52px;
  }

  label{
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;

    @include radius(50%, 50%, 50%, 50%);
    border: 1px solid temp-colors('input');
    &[for="emptiness"]{
      background-color: temp-colors('emptiness');
    }
    &[for="spray"]{
      background-color: temp-colors('spray');
    }
    &[for="swuff"]{
      background-color: temp-colors('swuff');
    }
    &[for="radical"]{
      background-color: temp-colors('radical');
    }
    &[for="cinnabar"]{
      background-color: temp-colors('cinnabar');
    }
    &[for="emerald"]{
      background-color: temp-colors('emerald');
    }
    &[for="saffron"]{
      background-color: temp-colors('saffron');
    }
    &[for="california"]{
      background-color: temp-colors('california');
    }
    &[for="turquoise"]{
      background-color: temp-colors('turquoise');
    }

    &[for="house"]{
      @include imgRadio('/images/category/house_gray.png');
    }
    &[for="idea"]{
      @include imgRadio('/images/category/idea_gray.png');
    }
    &[for="like"]{
      @include imgRadio('/images/category/like_gray.png');
    }
    &[for="paper"]{
      @include imgRadio('/images/category/paper_gray.png');
    }
    &[for="photo"]{
      @include imgRadio('/images/category/photo_gray.png');
    }
    &[for="car"]{
      @include imgRadio('/images/category/car_gray.png');
    }
    &[for="bike"]{
      @include imgRadio('/images/category/bike_gray.png');
    }
    &[for="pizza"]{
      @include imgRadio('/images/category/pizza_gray.png');
    }

    &:after{
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: transparent;
      top: -15px;
      left: 18px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;

      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    &:hover{
      cursor: pointer;
      border-color: temp-colors('input-active');
      &[for="house"]{
        @include imgRadio('/images/category/house_main.png');
      }
      &[for="idea"]{
        @include imgRadio('/images/category/idea_main.png');
      }
      &[for="like"]{
        @include imgRadio('/images/category/like_main.png');
      }
      &[for="paper"]{
        @include imgRadio('/images/category/paper_main.png');
      }
      &[for="photo"]{
        @include imgRadio('/images/category/photo_main.png');
      }
      &[for="car"]{
        @include imgRadio('/images/category/car_main.png');
      }
      &[for="bike"]{
        @include imgRadio('/images/category/bike_main.png');
      }
      &[for="pizza"]{
        @include imgRadio('/images/category/pizza_main.png');
      }
      &::after{
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.5;
      }
    }
  }

  input[type=radio]{
    visibility: hidden;
    &:checked + label:after {
      border-color: temp-colors('main');
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
    }
    &:checked + label{
      border-color: temp-colors('main');
      //opacity: 0.8;
    }
  }
}
.editTodo{
  display: inline-block;
  width: 100%;
  input{
    margin-bottom: 10px;
    @media(min-width: 1106px){
      width: 220px;
    }
    @media(max-width: 1106px){
      width: 82%;
    }
  }
  button{
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin-left: 10px;
    background: {
      image: url('../images/refresh-button.png');
      size: 85%;
      position: center;
      repeat: no-repeat;
      color: temp-colors('input');
    }
    @include transition();

    &:hover{
      cursor: pointer;
      background: {
        color: temp-colors('main');
      }
      @include transform(180deg);
    }
  }
}
/******PopUp*****/
.fonPopUp{
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(temp-colors('popUp'), 0.2);
  top:0;
  left:0;
  display: none;
  overflow: auto;

  &#popUp .popUp{
    height: 250px;
    width: 300px;
    top: 25%;
    #newList{
      margin-bottom: 10px;
    }
  }
  &#categoryUp .popUp{
    @media(min-width: 600px){
      width: 540px;
      height: 365px;
      top: 10%;
    }
    @media(max-width: 600px) {
      width: 300px;
      height: 515px;
      top: 5%;
    }
  }
  .popUp{
    background: temp-colors('white');
    @include radius(2px, 2px, 2px, 2px);
    position: relative;
    padding:30px;
    box-sizing: border-box;
    margin: 0 auto;

    h3{
      @include H-text(18px);
    }

    .closeBtn{
      position: absolute;
      background: {
        image: url('../images/close-greay.png');
        position: center;
        color: temp-colors('white');
      }
      width: 32px;
      height: 32px;
      border: none;
      top: 17px;
      right: 17px;
      @include transition();
      &:hover{
        background-image: url('../images/close-black.png');
        cursor: pointer;
      }
    }
    p{
      @include text();
      margin: 5px 0 10px;
    }
    .colorBlock{
      margin-bottom: 10px;
      @media(min-width: 600px) {
        height: 50px;
      }
      @media(max-width: 600px) {
        height: 100%;
      }
    }

    #createList{
      margin-top: 10px;
      width: 100%;
      @include buttonText();
      text-transform: uppercase;
      background: temp-colors('main');
      border: 0;
      padding: 10px 15px;
      @include transition();

      &:hover{
        background: temp-colors('main-hover');
        cursor: pointer;
      }
    }
    #createCategory{
      margin-top: 10px;
      @extend #createList;
    }
  }
}

@mixin backgroundBtn(){
  background:{
    repeat: no-repeat;
    position: center;
    //color: $color;
  };
  @media(max-width: 450px){
    background-size: 25px;
  }
  @media(min-width: 450px){
    background-size: 30px;
  }
}
.buttonLeft{
  position: fixed;
  height: 100vh;
  @media(min-width: 450px){
  width: 70px;
  }
  @media(max-width: 450px){
    width: 50px;
  }
  #AddList{
    background:{
      image: url('../images/add-button.png');
      color: temp-colors('main');
      position: center;
      repeat: no-repeat;
    }
    border: none;
    border-radius: 50%;
    display: block;
    @include transition(background-color, 0.5s, 0.1s, 'ease-in');
    @include transition(box-shadow, 0.2s, 0.1s, 'initial');

    @media(min-width: 450px){
      width: 50px;
      height: 50px;
      margin: 15px 10px 10px;
    }
    @media(max-width: 450px){
      width: 40px;
      height: 40px;
      margin: 20px 5px 15px;
    }

    &:hover{
      background-color: temp-colors('main-hover');
      cursor: pointer;
    }
    &:focus, &:active{
      box-shadow: 0 0 10px 2px temp-colors('input-active');
    }

  }

  .categoryBtn{
    display: block;
    position: relative;
    border: 1px solid temp-colors('white');
    @include backgroundBtn();
    @include radius(50%, 50%, 50%, 50%);

    @media(min-width: 450px){
      width: 45px;
      height: 45px;
      margin: 2px 15px 3px;
    }
    @media(max-width: 450px){
      width: 36px;
      height: 36px;
      margin: 5px 7px 5px 7px;
    }

    &.active:after{
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 39%;
      left: -11px;
      background:{
        image: url('/images/arrow.png');
        repeat: no-repeat;
        size:contain;
      };
    }
    &:hover{
      cursor: pointer;
      border-color: temp-colors('main');
    }

    &.all{
      background:{
        image: url('/images/category/note.png');
        color: temp-colors('emptiness');
      }
      //@include backgroundBtn(temp-colors('white'));

      &:hover{
        background:{
          image: url('/images/category/note_1.png');
        }
      }
    }

    &.add{
      background:{
        image: url('/images/category/add-button.png');
        color: temp-colors('emptiness');
      }

      &:hover{
        background:{
          image: url('/images/add-green.png');
        }
      }
    }
    &.emptiness{
      background-color: temp-colors('emptiness');
      border-color: temp-colors('emptiness');
    }
    &.swuff{
      background-color: temp-colors('swuff');
      border-color: temp-colors('swuff');
    }
    &.radical{
      background-color: temp-colors('radical');
      border-color: temp-colors('radical');
    }
    &.cinnabar{
      background-color: temp-colors('cinnabar');
      border-color: temp-colors('cinnabar');
    }
    &.emerald{
      background-color: temp-colors('emerald');
      border-color: temp-colors('emerald');
    }
    &.saffron{
      background-color: temp-colors('saffron');
      border-color: temp-colors('saffron');
    }
    &.california{
      background-color: temp-colors('california');
      border-color: temp-colors('california');
    }
    &.turquoise{
      background-color: temp-colors('turquoise');
      border-color: temp-colors('turquoise');
    }

    &.house{
      &.emptiness{
        background-image: url('/images/category/house_gray.png');
      }
      background-image: url('/images/category/house_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/house_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.idea{
      &.emptiness{
        background-image: url('/images/category/idea_gray.png');
      }
      background-image: url('/images/category/idea_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/idea_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.like{
      &.emptiness{
        background-image: url('/images/category/like_gray.png');
      }
      background-image: url('/images/category/like_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/like_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.paper{
      &.emptiness{
        background-image: url('/images/category/paper_gray.png');
      }
      background-image: url('/images/category/paper_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/paper_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.photo{
      &.emptiness{
        background-image: url('/images/category/photo_gray.png');
      }
      background-image: url('/images/category/photo_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/photo_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.car{
      &.emptiness{
        background-image: url('/images/category/car_gray.png');
      }
      background-image: url('/images/category/car_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/car_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.bike{
      &.emptiness{
        background-image: url('/images/category/bike_gray.png');
      }
      background-image: url('/images/category/bike_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/bike_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.pizza{
      &.emptiness{
        background-image: url('/images/category/pizza_gray.png');
      }
      background-image: url('/images/category/pizza_white.png');
      @include transition();
      &:hover{
        background:{
          image: url('/images/category/pizza_main.png');
          color: temp-colors('white');
        }
      }
    }
    &.null{
      background:{
        color: temp-colors('madang');
        image: url('/images/category/panda_gray.png');
      }
      border-color: temp-colors('madang');

      @include transition();
      &:hover{
        background:{
          image: url('/images/category/panda_main.png');
          color: temp-colors('white');
        }
        border-color: temp-colors('madang');
      }
    }


    #newCategoty{
      position: relative;
      width: 100%;
    }

  }
}

.mCS-my-theme{
  &.mCSB_scrollTools{
    background-color: temp-colors('white');
    @media(min-width: 450px){
      width: 10px;
    }
    @media(max-width: 450px) {
      width: 7px;
    }

    .mCSB_draggerContainer{
      .mCSB_draggerRail{
        background-color: temp-colors('input');
      }
    }

    .mCSB_dragger{
      &.mCSB_dragger_onDrag{
        .mCSB_dragger_bar{
          background-color: temp-colors('main');
        }
      }
      .mCSB_dragger_bar{
        background-color: temp-colors('main');
      }
      &:hover{
        .mCSB_dragger_bar{
          background-color: temp-colors('error');
        }
      }
    }
  }
  .mCSB_container{
    @media(min-width: 450px){
      margin-right: 10px !important;
    }
    @media(max-width: 450px) {
      margin-right: 7px !important;
    }
  }
}

@media(max-width: 1106px){

}


