@import "node-style";

@mixin selectImage($url){
  background:{
    image: url($url);
    repeat: no-repeat;
    position: center;
    size: 60%;
  }
}
.selectBlock{
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-height: 100%;
  margin-bottom: 10px;

  .selected{
    height: 30px;
    width:100%;
    border: 1px solid temp-colors('input');
    @include radius(1px, 1px, 1px, 1px);
    box-sizing: border-box;

    span{
      width: 207px;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      @include text();
      line-height: 26px;

      img{
        float: left;
        overflow: hidden;
        width: 25px;
        padding: 2px 6px 0 10px;
      }
    }

    .button{
      float: right;
      overflow: hidden;
      height: 28px;
      width: 30px;
      border-left: 1px solid temp-colors('input');
      background: {
        image: url('../images/down-arrow.png');
        position: center;
        repeat: no-repeat;
        size: 60%;
      };

      &:hover{
        cursor: pointer;
        margin: -1px -1px 0 0;
        border: 1px solid temp-colors('main');
        background: {
          image: url('../images/down-arrow-main.png');
        }
      }
    }
    &.active{
      border-color: temp-colors('input-active');
      .button{
        border-left-color: temp-colors('input-active');
        background-image: url('../images/down-arrow-active.png');
      }
    }
  }

  .option{
    display: none;
    position: absolute;
    top:30px;
    min-height: 100%;
    width: 100%;
    background-color: temp-colors('white');
    &.open{
      display: block;
    }

    div{
      height: 35px;
      line-height: 2.3em;
      @include text();
      padding: 0 15px;
      margin: 5px 0;
      overflow: hidden;


      .text{
        display: inline-block;
        vertical-align: top;
        line-height: 35px;
        padding-left: 10px;

        word-break: break-all;
        width: 78%;
      }

      .img{
        display: inline-block;
        width: 35px;
        height: 35px;
        @include radius(50%);

        &.emptiness{
          background-color: temp-colors('emptiness');
          border-color:  temp-colors('emptiness');
        }
        &.swuff{
          background-color: temp-colors('swuff');
          border-color:  temp-colors('swuff');
        }
        &.radical{
          background-color: temp-colors('radical');
          border-color:  temp-colors('radical');
        }
        &.cinnabar{
          background-color: temp-colors('cinnabar');
          border-color:  temp-colors('cinnabar');
        }
        &.emerald{
          background-color: temp-colors('emerald');
          border-color:  temp-colors('emerald');
        }
        &.saffron{
          background-color: temp-colors('saffron');
          border-color:  temp-colors('saffron');
        }
        &.california{
          background-color: temp-colors('california');
          border-color:  temp-colors('california');
        }
        &.turquoise{
          background-color: temp-colors('turquoise');
          border-color:  temp-colors('turquoise');
        }

        &.house{
          &.emptiness{
            @include selectImage('/images/category/house_gray.png');
          }
          @include selectImage('/images/category/house_white.png');
          @include transition();
        }
        &.idea{
          &.emptiness{
            @include selectImage('/images/category/idea_gray.png');
          }
          @include selectImage('/images/category/idea_white.png');
          @include transition();
        }
        &.like{
          &.emptiness{
            @include selectImage('/images/category/like_gray.png');
          }
          @include selectImage('/images/category/like_white.png');
          @include transition();
        }
        &.paper{
          &.emptiness{
            @include selectImage('/images/category/paper_gray.png');
          }
          @include selectImage('/images/category/paper_white.png');
          @include transition();
        }
        &.photo{
          &.emptiness{
            @include selectImage('/images/category/photo_gray.png');
          }
          @include selectImage('/images/category/photo_white.png');
          @include transition();
        }
        &.car{
          &.emptiness{
            @include selectImage('/images/category/car_gray.png');
          }
          @include selectImage('/images/category/car_white.png');
          @include transition();
        }
        &.bike{
          &.emptiness{
            @include selectImage('/images/category/bike_gray.png');
          }
          @include selectImage('/images/category/bike_white.png');
          @include transition();
        }
        &.pizza{
          &.emptiness{
            @include selectImage('/images/category/pizza_gray.png');
          }
          @include selectImage('/images/category/pizza_white.png');
          @include transition();
        }
        &.null{
          @include selectImage('/images/category/panda_gray.png');
          background:{
            color: temp-colors('madang');
          }
          border-color: temp-colors('madang');
          @include transition();
        }
      }

      &:hover{
        cursor: pointer;
        .house{
          background:{
            image: url('/images/category/house_main.png');
            color: temp-colors('white');
          }
        }
        .idea{
          background:{
            image: url('/images/category/idea_main.png');
            color: temp-colors('white');
          }
        }
        .like{
          background:{
            image: url('/images/category/like_main.png');
            color: temp-colors('white');
          }
        }
        .paper{
          background:{
            image: url('/images/category/paper_main.png');
            color: temp-colors('white');
          }
        }
        .photo{
          background:{
            image: url('/images/category/photo_main.png');
            color: temp-colors('white');
          }
        }
        .car{
          background:{
            image: url('/images/category/car_main.png');
            color: temp-colors('white');
          }
        }
        .bike {
          background: {
            image: url('/images/category/bike_main.png');
            color: temp-colors('white');
          }
        }
        .pizza{
          background:{
            image: url('/images/category/pizza_main.png');
            color: temp-colors('white');
          }
        }
        .null{
          background:{
            image: url('/images/category/panda_main.png');
            color: temp-colors('white');
          }
          border-color: temp-colors('madang');
        }
      }
    }
  }
}