html, body {
  height: 100%;
  min-height: 100%;
  margin: 0; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf"); }
@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf"); }
.container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
  overflow: auto; }
  .container.openPopUp {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    filter: blur(3px); }

input:focus, button:focus {
  outline: 0; }

#notes {
  display: block;
  background: #f0f3f6;
  margin-left: 70px;
  height: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 20px;
  box-sizing: border-box; }
  @media (min-width: 700px) {
    #notes {
      overflow: hidden; } }
  @media (max-width: 700px) {
    #notes {
      overflow: auto;
      height: 100% !important; } }
  @media (max-width: 450px) {
    #notes {
      margin-left: 50px; } }

input[type='text'] {
  font-family: "OpenSans", sans-serif;
  color: #475965;
  font-size: 14px;
  width: 100%;
  display: block;
  padding: 5px 18px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #d7dde2; }
  input[type='text']:focus, input[type='text']:active {
    border: 1px solid #959fa9; }
  input[type='text'].error {
    border-color: #e64c65;
    background-image: url("../images/warning.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 16px; }

.listBlock {
  position: absolute;
  display: inline-block;
  padding: 10px 15px;
  background: #fff;
  float: left;
  overflow: hidden;
  top: 10px;
  left: 10px; }
  @media (min-width: 1106px) {
    .listBlock {
      width: 300px;
      margin: 15px 10px; } }
  @media (max-width: 1106px) {
    .listBlock {
      margin: 10px 5px;
      width: 28.5%; } }
  @media (max-width: 980px) {
    .listBlock {
      width: 44%; } }
  @media (max-width: 860px) {
    .listBlock {
      width: 40%; } }
  @media (max-width: 700px) {
    .listBlock {
      width: 89%;
      position: relative;
      display: block;
      top: 0 !important;
      left: 10px !important; } }
  @media (max-width: 491px) {
    .listBlock {
      width: 85%; } }
  @media (max-width: 450px) {
    .listBlock {
      width: 86%; } }
  .listBlock h2 {
    font-family: "OpenSans-Bold", sans-serif;
    font-size: 16px;
    color: #475965;
    margin: 5px 0 10px 0;
    line-height: 1;
    text-transform: uppercase; }
  .listBlock h2 > a {
    margin-left: 10px; }
  .listBlock .createTodo {
    overflow: auto; }
    .listBlock .createTodo input {
      display: block;
      float: left; }
      @media (min-width: 1106px) {
        .listBlock .createTodo input {
          width: 250px; } }
      @media (max-width: 1106px) {
        .listBlock .createTodo input {
          width: 82%; } }
    .listBlock .createTodo button {
      display: inline-block;
      width: 34px;
      height: 34px;
      background-image: url("../images/add-green.png");
      background-color: #fff;
      background-position: center;
      background-repeat: no-repeat;
      border: none;
      border-radius: 50%;
      margin-left: 10px;
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .listBlock .createTodo button:hover {
        background-image: url("../images/add-button.png");
        background-color: #21b8c6;
        cursor: pointer; }

.todoItem span {
  font-family: "OpenSans", sans-serif;
  color: #475965;
  font-size: 14px;
  padding-right: 10px; }
  .todoItem span.checked {
    text-decoration: line-through; }

.deleteBtn {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  -o-transition-property: "all";
  transition-property: "all";
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: "initial";
  -moz-transition-timing-function: "initial";
  -ms-transition-timing-function: "initial";
  -o-transition-timing-function: "initial";
  transition-timing-function: "initial";
  background-image: url("../images/garbage_2.png"); }
  .deleteBtn:hover {
    cursor: pointer;
    background-image: url("../images/garbage_3.png");
    background-size: 90%;
    border-radius: 50%;
    box-shadow: 0 0 15px 2px #d7dde2; }

.settingBtn {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  -o-transition-property: "all";
  transition-property: "all";
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: "initial";
  -moz-transition-timing-function: "initial";
  -ms-transition-timing-function: "initial";
  -o-transition-timing-function: "initial";
  transition-timing-function: "initial";
  background-image: url("../images/settings_gray.png");
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  -o-transition-property: "all";
  transition-property: "all";
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: "initial";
  -moz-transition-timing-function: "initial";
  -ms-transition-timing-function: "initial";
  -o-transition-timing-function: "initial";
  transition-timing-function: "initial"; }
  .settingBtn:hover {
    cursor: pointer;
    background-image: url("../images/settings_main.png");
    background-size: 90%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.updateBtn {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  -o-transition-property: "all";
  transition-property: "all";
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: "initial";
  -moz-transition-timing-function: "initial";
  -ms-transition-timing-function: "initial";
  -o-transition-timing-function: "initial";
  transition-timing-function: "initial";
  background-image: url("../images/writing_3.png");
  -webkit-transition-property: "all";
  -moz-transition-property: "all";
  -o-transition-property: "all";
  transition-property: "all";
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0.1s;
  -moz-transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transition-timing-function: "initial";
  -moz-transition-timing-function: "initial";
  -ms-transition-timing-function: "initial";
  -o-transition-timing-function: "initial";
  transition-timing-function: "initial"; }
  .updateBtn:hover {
    cursor: pointer;
    background-image: url("../images/writing_2.png");
    background-size: 90%; }

.checkBoxBlock {
  width: 20px;
  margin: 5px 10px 5px 0;
  position: relative;
  display: inline-block; }
  .checkBoxBlock label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
    -moz-border-radius-bottomright: 1px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 1px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -webkit-border-top-right-radius: 1px;
    border: 1px solid #d7dde2; }
    .checkBoxBlock label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background: transparent;
      top: 3px;
      left: 3px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .checkBoxBlock label:hover {
      cursor: pointer;
      border-color: #959fa9; }
      .checkBoxBlock label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.5; }
  .checkBoxBlock input[type=checkbox] {
    visibility: hidden; }
    .checkBoxBlock input[type=checkbox]:checked + label:after {
      border-color: #21b8c6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
    .checkBoxBlock input[type=checkbox]:checked + label {
      border-color: #21b8c6; }

.radioBoxBlock {
  width: 50px;
  margin: 5px 5px 5px 0;
  position: relative;
  display: inline-block; }
  @media (max-width: 600px) {
    .radioBoxBlock {
      height: 52px; } }
  .radioBoxBlock label {
    cursor: pointer;
    position: absolute;
    width: 48px;
    height: 48px;
    top: 0;
    left: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    -moz-border-radius-bottomleft: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-top-right-radius: 50%;
    border: 1px solid #d7dde2; }
    .radioBoxBlock label[for="emptiness"] {
      background-color: rgba(255, 255, 255, 0); }
    .radioBoxBlock label[for="spray"] {
      background-color: #81CFE0; }
    .radioBoxBlock label[for="swuff"] {
      background-color: #DCC6E0; }
    .radioBoxBlock label[for="radical"] {
      background-color: #F62459; }
    .radioBoxBlock label[for="cinnabar"] {
      background-color: #E74C3C; }
    .radioBoxBlock label[for="emerald"] {
      background-color: #3FC380; }
    .radioBoxBlock label[for="saffron"] {
      background-color: #F4D03F; }
    .radioBoxBlock label[for="california"] {
      background-color: #F89406; }
    .radioBoxBlock label[for="turquoise"] {
      background-color: #4ECDC4; }
    .radioBoxBlock label[for="house"] {
      background-image: url("/images/category/house_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="idea"] {
      background-image: url("/images/category/idea_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="like"] {
      background-image: url("/images/category/like_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="paper"] {
      background-image: url("/images/category/paper_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="photo"] {
      background-image: url("/images/category/photo_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="car"] {
      background-image: url("/images/category/car_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="bike"] {
      background-image: url("/images/category/bike_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label[for="pizza"] {
      background-image: url("/images/category/pizza_gray.png");
      background-repeat: no-repeat;
      background-position: center; }
    .radioBoxBlock label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      background: transparent;
      top: -15px;
      left: 18px;
      border: 3px solid #333;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .radioBoxBlock label:hover {
      cursor: pointer;
      border-color: #959fa9; }
      .radioBoxBlock label:hover[for="house"] {
        background-image: url("/images/category/house_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="idea"] {
        background-image: url("/images/category/idea_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="like"] {
        background-image: url("/images/category/like_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="paper"] {
        background-image: url("/images/category/paper_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="photo"] {
        background-image: url("/images/category/photo_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="car"] {
        background-image: url("/images/category/car_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="bike"] {
        background-image: url("/images/category/bike_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover[for="pizza"] {
        background-image: url("/images/category/pizza_main.png");
        background-repeat: no-repeat;
        background-position: center; }
      .radioBoxBlock label:hover::after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.5; }
  .radioBoxBlock input[type=radio] {
    visibility: hidden; }
    .radioBoxBlock input[type=radio]:checked + label:after {
      border-color: #21b8c6;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
    .radioBoxBlock input[type=radio]:checked + label {
      border-color: #21b8c6; }

.editTodo {
  display: inline-block;
  width: 100%; }
  .editTodo input {
    margin-bottom: 10px; }
    @media (min-width: 1106px) {
      .editTodo input {
        width: 220px; } }
    @media (max-width: 1106px) {
      .editTodo input {
        width: 82%; } }
  .editTodo button {
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    top: 8px;
    margin-left: 10px;
    background-image: url("../images/refresh-button.png");
    background-size: 85%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d7dde2;
    -webkit-transition-property: "all";
    -moz-transition-property: "all";
    -o-transition-property: "all";
    transition-property: "all";
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-timing-function: "initial";
    -moz-transition-timing-function: "initial";
    -ms-transition-timing-function: "initial";
    -o-transition-timing-function: "initial";
    transition-timing-function: "initial"; }
    .editTodo button:hover {
      cursor: pointer;
      background-color: #21b8c6;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

/******PopUp*****/
.fonPopUp {
  z-index: 1000;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(149, 152, 155, 0.2);
  top: 0;
  left: 0;
  display: none;
  overflow: auto; }
  .fonPopUp#popUp .popUp, .fonPopUp#settingList .popUp {
    height: 250px;
    width: 300px;
    top: 25%; }
    .fonPopUp#popUp .popUp #newList, .fonPopUp#settingList .popUp #newList {
      margin-bottom: 10px; }
  @media (min-width: 600px) {
    .fonPopUp#categoryUp .popUp {
      width: 540px;
      height: 365px;
      top: 10%; } }
  @media (max-width: 600px) {
    .fonPopUp#categoryUp .popUp {
      width: 300px;
      height: 515px;
      top: 5%; } }
  .fonPopUp .popUp {
    background: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    position: relative;
    padding: 30px;
    box-sizing: border-box;
    margin: 0 auto; }
    .fonPopUp .popUp h3 {
      font-family: "OpenSans-Bold", sans-serif;
      font-size: 18px;
      color: #475965;
      margin: 5px 0 10px 0;
      line-height: 1;
      text-transform: uppercase; }
    .fonPopUp .popUp .closeBtn {
      position: absolute;
      background-image: url("../images/close-greay.png");
      background-position: center;
      background-color: #fff;
      width: 32px;
      height: 32px;
      border: none;
      top: 17px;
      right: 17px;
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .fonPopUp .popUp .closeBtn:hover {
        background-image: url("../images/close-black.png");
        cursor: pointer; }
    .fonPopUp .popUp p {
      font-family: "OpenSans", sans-serif;
      color: #475965;
      font-size: 14px;
      margin: 5px 0 10px; }
    .fonPopUp .popUp .colorBlock {
      margin-bottom: 10px; }
      @media (min-width: 600px) {
        .fonPopUp .popUp .colorBlock {
          height: 50px; } }
      @media (max-width: 600px) {
        .fonPopUp .popUp .colorBlock {
          height: 100%; } }
    .fonPopUp .popUp button[type="submit"] {
      margin-top: 10px;
      width: 100%;
      font-family: "OpenSans-Bold", sans-serif;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      background: #21b8c6;
      border: 0;
      padding: 10px 15px;
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .fonPopUp .popUp button[type="submit"]:hover {
        background: #239aa8;
        cursor: pointer; }
    .fonPopUp .popUp .err {
      background-color: white; }

.buttonLeft {
  position: fixed;
  height: 100vh; }
  @media (min-width: 450px) {
    .buttonLeft {
      width: 70px; } }
  @media (max-width: 450px) {
    .buttonLeft {
      width: 50px; } }
  .buttonLeft #AddList {
    background-image: url("../images/add-button.png");
    background-color: #21b8c6;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 50%;
    display: block;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-timing-function: "ease-in";
    -moz-transition-timing-function: "ease-in";
    -ms-transition-timing-function: "ease-in";
    -o-transition-timing-function: "ease-in";
    transition-timing-function: "ease-in";
    -webkit-transition-property: box-shadow;
    -moz-transition-property: box-shadow;
    -o-transition-property: box-shadow;
    transition-property: box-shadow;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    -webkit-transition-timing-function: "initial";
    -moz-transition-timing-function: "initial";
    -ms-transition-timing-function: "initial";
    -o-transition-timing-function: "initial";
    transition-timing-function: "initial"; }
    @media (min-width: 450px) {
      .buttonLeft #AddList {
        width: 50px;
        height: 50px;
        margin: 15px 10px 10px; } }
    @media (max-width: 450px) {
      .buttonLeft #AddList {
        width: 40px;
        height: 40px;
        margin: 20px 5px 15px; } }
    .buttonLeft #AddList:hover {
      background-color: #239aa8;
      cursor: pointer; }
    .buttonLeft #AddList:focus, .buttonLeft #AddList:active {
      box-shadow: 0 0 10px 2px #959fa9; }
  .buttonLeft .categoryBtn {
    display: block;
    position: relative;
    border: 1px solid #fff;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    -moz-border-radius-bottomleft: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-topleft: 50%;
    -moz-border-radius-topright: 50%;
    -webkit-border-top-left-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-top-right-radius: 50%; }
    @media (max-width: 450px) {
      .buttonLeft .categoryBtn {
        background-size: 25px; } }
    @media (min-width: 450px) {
      .buttonLeft .categoryBtn {
        background-size: 30px; } }
    @media (min-width: 450px) {
      .buttonLeft .categoryBtn {
        width: 45px;
        height: 45px;
        margin: 2px 15px 3px; } }
    @media (max-width: 450px) {
      .buttonLeft .categoryBtn {
        width: 36px;
        height: 36px;
        margin: 5px 7px 5px 7px; } }
    .buttonLeft .categoryBtn.active:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      top: 39%;
      left: -11px;
      background-image: url("/images/arrow.png");
      background-repeat: no-repeat;
      background-size: contain; }
    .buttonLeft .categoryBtn:hover {
      cursor: pointer;
      border-color: #21b8c6; }
    .buttonLeft .categoryBtn.all {
      background-image: url("/images/category/note.png");
      background-color: rgba(255, 255, 255, 0); }
      .buttonLeft .categoryBtn.all:hover {
        background-image: url("/images/category/note_1.png"); }
    .buttonLeft .categoryBtn.add {
      background-image: url("/images/category/add-button.png");
      background-color: rgba(255, 255, 255, 0); }
      .buttonLeft .categoryBtn.add:hover {
        background-image: url("/images/add-green.png"); }
    .buttonLeft .categoryBtn.emptiness {
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(255, 255, 255, 0); }
    .buttonLeft .categoryBtn.swuff {
      background-color: #DCC6E0;
      border-color: #DCC6E0; }
    .buttonLeft .categoryBtn.radical {
      background-color: #F62459;
      border-color: #F62459; }
    .buttonLeft .categoryBtn.cinnabar {
      background-color: #E74C3C;
      border-color: #E74C3C; }
    .buttonLeft .categoryBtn.emerald {
      background-color: #3FC380;
      border-color: #3FC380; }
    .buttonLeft .categoryBtn.saffron {
      background-color: #F4D03F;
      border-color: #F4D03F; }
    .buttonLeft .categoryBtn.california {
      background-color: #F89406;
      border-color: #F89406; }
    .buttonLeft .categoryBtn.turquoise {
      background-color: #4ECDC4;
      border-color: #4ECDC4; }
    .buttonLeft .categoryBtn.house {
      background-image: url("/images/category/house_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.house.emptiness {
        background-image: url("/images/category/house_gray.png"); }
      .buttonLeft .categoryBtn.house:hover {
        background-image: url("/images/category/house_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.idea {
      background-image: url("/images/category/idea_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.idea.emptiness {
        background-image: url("/images/category/idea_gray.png"); }
      .buttonLeft .categoryBtn.idea:hover {
        background-image: url("/images/category/idea_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.like {
      background-image: url("/images/category/like_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.like.emptiness {
        background-image: url("/images/category/like_gray.png"); }
      .buttonLeft .categoryBtn.like:hover {
        background-image: url("/images/category/like_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.paper {
      background-image: url("/images/category/paper_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.paper.emptiness {
        background-image: url("/images/category/paper_gray.png"); }
      .buttonLeft .categoryBtn.paper:hover {
        background-image: url("/images/category/paper_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.photo {
      background-image: url("/images/category/photo_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.photo.emptiness {
        background-image: url("/images/category/photo_gray.png"); }
      .buttonLeft .categoryBtn.photo:hover {
        background-image: url("/images/category/photo_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.car {
      background-image: url("/images/category/car_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.car.emptiness {
        background-image: url("/images/category/car_gray.png"); }
      .buttonLeft .categoryBtn.car:hover {
        background-image: url("/images/category/car_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.bike {
      background-image: url("/images/category/bike_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.bike.emptiness {
        background-image: url("/images/category/bike_gray.png"); }
      .buttonLeft .categoryBtn.bike:hover {
        background-image: url("/images/category/bike_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.pizza {
      background-image: url("/images/category/pizza_white.png");
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.pizza.emptiness {
        background-image: url("/images/category/pizza_gray.png"); }
      .buttonLeft .categoryBtn.pizza:hover {
        background-image: url("/images/category/pizza_main.png");
        background-color: #fff; }
    .buttonLeft .categoryBtn.null {
      background-color: #C8F7C5;
      background-image: url("/images/category/panda_gray.png");
      border-color: #C8F7C5;
      -webkit-transition-property: "all";
      -moz-transition-property: "all";
      -o-transition-property: "all";
      transition-property: "all";
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      -ms-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      transition-delay: 0.1s;
      -webkit-transition-timing-function: "initial";
      -moz-transition-timing-function: "initial";
      -ms-transition-timing-function: "initial";
      -o-transition-timing-function: "initial";
      transition-timing-function: "initial"; }
      .buttonLeft .categoryBtn.null:hover {
        background-image: url("/images/category/panda_main.png");
        background-color: #fff;
        border-color: #C8F7C5; }
    .buttonLeft .categoryBtn #newCategoty {
      position: relative;
      width: 100%; }

.mCS-my-theme.mCSB_scrollTools {
  background-color: #fff; }
  @media (min-width: 450px) {
    .mCS-my-theme.mCSB_scrollTools {
      width: 10px; } }
  @media (max-width: 450px) {
    .mCS-my-theme.mCSB_scrollTools {
      width: 7px; } }
  .mCS-my-theme.mCSB_scrollTools .mCSB_draggerContainer .mCSB_draggerRail {
    background-color: #d7dde2; }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
    background-color: #21b8c6; }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #21b8c6; }
  .mCS-my-theme.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    background-color: #e64c65; }
@media (min-width: 450px) {
  .mCS-my-theme .mCSB_container {
    margin-right: 10px !important; } }
@media (max-width: 450px) {
  .mCS-my-theme .mCSB_container {
    margin-right: 7px !important; } }

.selectBlock {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  max-height: 100%;
  margin-bottom: 10px; }
  .selectBlock .selected {
    height: 30px;
    width: 100%;
    border: 1px solid #d7dde2;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    -moz-border-radius-bottomleft: 1px;
    -moz-border-radius-bottomright: 1px;
    -moz-border-radius-topleft: 1px;
    -moz-border-radius-topright: 1px;
    -webkit-border-top-left-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -webkit-border-bottom-right-radius: 1px;
    -webkit-border-top-right-radius: 1px;
    box-sizing: border-box; }
    .selectBlock .selected span {
      width: 207px;
      height: 100%;
      display: inline-block;
      overflow: hidden;
      font-family: "OpenSans", sans-serif;
      color: #475965;
      font-size: 14px;
      line-height: 26px; }
      .selectBlock .selected span img {
        float: left;
        overflow: hidden;
        width: 25px;
        padding: 2px 6px 0 10px; }
    .selectBlock .selected .button {
      float: right;
      overflow: hidden;
      height: 28px;
      width: 30px;
      border-left: 1px solid #d7dde2;
      background-image: url("../images/down-arrow.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 60%; }
      .selectBlock .selected .button:hover {
        cursor: pointer;
        margin: -1px -1px 0 0;
        border: 1px solid #21b8c6;
        background-image: url("../images/down-arrow-main.png"); }
    .selectBlock .selected.active {
      border-color: #959fa9; }
      .selectBlock .selected.active .button {
        border-left-color: #959fa9;
        background-image: url("../images/down-arrow-active.png"); }
  .selectBlock .option {
    display: none;
    position: absolute;
    top: 30px;
    min-height: 100%;
    width: 100%;
    background-color: #fff; }
    .selectBlock .option.open {
      display: block; }
    .selectBlock .option div {
      height: 35px;
      line-height: 2.3em;
      font-family: "OpenSans", sans-serif;
      color: #475965;
      font-size: 14px;
      padding: 0 15px;
      margin: 5px 0;
      overflow: hidden; }
      .selectBlock .option div .text {
        display: inline-block;
        vertical-align: top;
        line-height: 35px;
        padding-left: 10px;
        word-break: break-all;
        width: 78%; }
      .selectBlock .option div .img {
        display: inline-block;
        width: 35px;
        height: 35px;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        -moz-border-radius-bottomleft: 50%;
        -moz-border-radius-bottomright: 50%;
        -moz-border-radius-topleft: 50%;
        -moz-border-radius-topright: 50%;
        -webkit-border-top-left-radius: 50%;
        -webkit-border-bottom-left-radius: 50%;
        -webkit-border-bottom-right-radius: 50%;
        -webkit-border-top-right-radius: 50%; }
        .selectBlock .option div .img.emptiness {
          background-color: rgba(255, 255, 255, 0);
          border-color: rgba(255, 255, 255, 0); }
        .selectBlock .option div .img.swuff {
          background-color: #DCC6E0;
          border-color: #DCC6E0; }
        .selectBlock .option div .img.radical {
          background-color: #F62459;
          border-color: #F62459; }
        .selectBlock .option div .img.cinnabar {
          background-color: #E74C3C;
          border-color: #E74C3C; }
        .selectBlock .option div .img.emerald {
          background-color: #3FC380;
          border-color: #3FC380; }
        .selectBlock .option div .img.saffron {
          background-color: #F4D03F;
          border-color: #F4D03F; }
        .selectBlock .option div .img.california {
          background-color: #F89406;
          border-color: #F89406; }
        .selectBlock .option div .img.turquoise {
          background-color: #4ECDC4;
          border-color: #4ECDC4; }
        .selectBlock .option div .img.house {
          background-image: url("/images/category/house_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.house.emptiness {
            background-image: url("/images/category/house_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.idea {
          background-image: url("/images/category/idea_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.idea.emptiness {
            background-image: url("/images/category/idea_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.like {
          background-image: url("/images/category/like_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.like.emptiness {
            background-image: url("/images/category/like_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.paper {
          background-image: url("/images/category/paper_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.paper.emptiness {
            background-image: url("/images/category/paper_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.photo {
          background-image: url("/images/category/photo_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.photo.emptiness {
            background-image: url("/images/category/photo_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.car {
          background-image: url("/images/category/car_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.car.emptiness {
            background-image: url("/images/category/car_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.bike {
          background-image: url("/images/category/bike_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.bike.emptiness {
            background-image: url("/images/category/bike_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.pizza {
          background-image: url("/images/category/pizza_white.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
          .selectBlock .option div .img.pizza.emptiness {
            background-image: url("/images/category/pizza_gray.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%; }
        .selectBlock .option div .img.null {
          background-image: url("/images/category/panda_gray.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 60%;
          background-color: #C8F7C5;
          border-color: #C8F7C5;
          -webkit-transition-property: "all";
          -moz-transition-property: "all";
          -o-transition-property: "all";
          transition-property: "all";
          -webkit-transition-duration: 0.3s;
          -moz-transition-duration: 0.3s;
          -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
          -webkit-transition-delay: 0.1s;
          -moz-transition-delay: 0.1s;
          -ms-transition-delay: 0.1s;
          -o-transition-delay: 0.1s;
          transition-delay: 0.1s;
          -webkit-transition-timing-function: "initial";
          -moz-transition-timing-function: "initial";
          -ms-transition-timing-function: "initial";
          -o-transition-timing-function: "initial";
          transition-timing-function: "initial"; }
      .selectBlock .option div:hover {
        cursor: pointer; }
        .selectBlock .option div:hover .house {
          background-image: url("/images/category/house_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .idea {
          background-image: url("/images/category/idea_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .like {
          background-image: url("/images/category/like_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .paper {
          background-image: url("/images/category/paper_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .photo {
          background-image: url("/images/category/photo_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .car {
          background-image: url("/images/category/car_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .bike {
          background-image: url("/images/category/bike_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .pizza {
          background-image: url("/images/category/pizza_main.png");
          background-color: #fff; }
        .selectBlock .option div:hover .null {
          background-image: url("/images/category/panda_main.png");
          background-color: #fff;
          border-color: #C8F7C5; }

/*# sourceMappingURL=select.css.map */
